<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Boom</title>
</head>

<body>

    <div id="app">
        <div id="String">{{result}} {{count}} Times</div>
        <bomb-button :is-bomb="true" @bomb="bomb" @click="click"></bomb-button> <!-- button1 -->
        <bomb-button :is-bomb="false" @bomb="bomb" @click="click"></bomb-button> <!-- button2 -->
        <bomb-button :is-bomb="true" @bomb="bomb" @click="click"></bomb-button><br> <!-- button3 -->

        <bomb-button :is-bomb="false" @bomb="bomb" @click="click"></bomb-button> <!-- button4 -->
        <bomb-button :is-bomb="true" @bomb="bomb" @click="click"></bomb-button> <!-- button5 -->
        <bomb-button :is-bomb="false" @bomb="bomb" @click="click"></bomb-button><br> <!-- button6 -->

        <bomb-button :is-bomb="true" @bomb="bomb" @click="click"></bomb-button> <!-- button7 -->
        <bomb-button :is-bomb="true" @bomb="bomb" @click="click"></bomb-button> <!-- button8 -->
        <bomb-button :is-bomb="false" @bomb="bomb" @click="click"></bomb-button><br> <!-- button9 -->
    </div>

    <script type="text/x-template" id="bomb-button">
        <button @click="open">{{value}}</button>
    </script>

    <script>
        Vue.component('bomb-button', {
            props: {
                isBomb: Boolean
            },
            data: function () {
                return {
                    value: '-',
                    clicked: false
                };
            },
            methods: {
                open: function () {
                    if (this.clicked) {
                        return;
                    }
                    this.clicked = true;
                    this.$emit('click');

                    if (!this.isBomb) {
                        return;
                    }
                    this.value = '*';
                    this.$emit('bomb');
                }
            },
            template: '#bomb-button',
        });
        var app = new Vue({
            el: '#app',
            data: {
                result: '',
                count: 0
            },
            methods: {
                click: function () {
                    this.count++;
                },
                bomb: function () {
                    console.log('Bomb');
                    this.result = "You lose!!";
                }
            }
        });
    </script>
    <style>
        button {
            margin-top: 5px;
            margin-left: 5px;
            margin-right: 5px;
            width: 50px;
            height: 50px;
            font-size: 20px;
        }

        div#String {
            font-size: 20px;
            margin-left: 5px;
        }
    </style>
</body>

</html>