<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Button</title>
</head>

<body>
    <div id="boom-button">
        <button @click="boomClick">{{boomvalue}}</button>
    </div>

    <script>
        var boomButton = new Vue({
            el: '#boom-button',
            data: {
                boomvalue: '-',
                hidevalue: '*',
            },
            methods: {
                boomClick: function () {
                    if (this.hidevalue == '-') {
                        return;
                    }
                    this.boomvalue = this.hidevalue;
                }
            },
            computed: {

            }
        });
    </script>
    <style>
        button{
            width: 50px;
            height: 50px;
            font-size: 20px;
        }
    </style>
</body>


</html>